[Desktop Entry]
Name=Yandex.Disk Info
Name[ru]=Яндекс.Диск Инфо
Comment=Show info about your Yandex.Disk account
Comment[ru]=Отображает информацию о вашем аккаунте "Яндекс.Диск"

Icon=images/yandexdisk.svg
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Vadim Kalinnikov
X-KDE-PluginInfo-Email=moose@ylsoftware.com
X-KDE-PluginInfo-Name=com.ylsoftware.plasma.ydinfo
X-KDE-PluginInfo-Version=0.0.3
X-KDE-PluginInfo-Website=https://github.com/moose-kazan/plasmoid-ydinfo
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
