[Desktop Entry]
Name=YDInfo
Name[ar]=YDInfo
Name[ca]=YDInfo
Name[ca@valencia]=YDInfo
Name[cs]=YDInfo
Name[da]=YDInfo
Name[de]=YDInfo
Name[en_GB]=YDInfo
Name[es]=YDInfo
Name[et]=YDInfo
Name[eu]=YDInfo
Name[fi]=YDInfo
Name[fr]=YDInfo
Name[gd]=YDInfo
Name[gl]=YDInfo
Name[hu]=YDInfo
Name[ia]=YDInfo
Name[id]=YDInfo
Name[it]=YDInfo
Name[ko]=YDInfo
Name[lt]=YDInfo
Name[nb]=YDInfo
Name[nl]=YDInfo
Name[nn]=YDInfo
Name[pl]=YDInfo
Name[pt]=YDInfo
Name[pt_BR]=YDInfo
Name[ru]=YDInfo
Name[sk]=YDInfo
Name[sl]=YDInfo
Name[sr]=YDInfo
Name[sr@ijekavian]=YDInfo
Name[sr@ijekavianlatin]=YDInfo
Name[sr@latin]=YDInfo
Name[sv]=YDInfo
Name[tg]=YDInfo
Name[tr]=YDInfo
Name[uk]=YDInfo
Name[x-test]=xxYDInfoxx
Name[zh_CN]=YDInfo
Name[zh_TW]=YDInfo
Comment=Show info about your Yandex.Disk
Comment[ru]=Отображает информацию о вашем аккаунте "Яндекс.Диск"

Icon=applications-system
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Vadim Kalinnikov
X-KDE-PluginInfo-Email=moose@ylsoftware.com
X-KDE-PluginInfo-Name=com.ylsoftware.plasma.ydinfo
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/moose-kazan
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
